# Arc Testnet deployer private key (NEVER commit real keys)
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Arc RPC
ARC_RPC_URL=https://rpc.testnet.arc.io

# Backend
PORT=3001
